$folder-color: #fed35c;
$pdf-color: #e10111;
$bin-color: #f3f3f3;
$mail-color: #c9c9c9;
$git-color: #ffffff;
$linked-color: #1bb5ff;

$icon-hover-color: rgba(#ffffff, 0.15);
$icon-hover-border: rgba(#bcbcbc, 0.5);
$icon-active-color: #ffffff;

$desktop-breakpoint: 980px;
$tablet-breakpoint: 768px;
$phone-breakpont: 320px;

$height-grid-breakpoint: 497px;

$program-header-btn-color: rgba(255, 255, 255, 0.17);
$program-header-txt-color: #ffffff;
$program-body-item-color: rgba(255, 255, 255, 0.7);
$program-wrapper-color: #393939;

$program-container-color: #1e1e1e;
$program-close-btn-color-hover: #e10111;
$program-regular-btn-color-hover: rgba(255, 255, 255, 0.17);

$portfolio-link-hover-color: rgba(#707070, 0.05);

$footer-color: #1e1e1e;

$win-logo-hover-color: #333333;
$search-bg-color: #434343;
$search-border-color: #696969;
$search-text-color: #dddddd;
$search-hover-border-color: #828282;
$search-width: 265px;
$search-selected-text-color: black;

$about-me-border-color: #a5a5a5;
$about-me-header-bg-color: #222222;
$about-me-header-active-color: grey;

$about-me-tabs-container-height: 300px;
