$folder-color: #fed35c;
$pdf-color: #e10111;
$bin-color: #f3f3f3;
$mail-color: #c9c9c9;
$git-color: #ffffff;
$linked-color: #1bb5ff;

$icon-hover-color: rgba(#ffffff, 0.15);
$icon-hover-border: rgba(#bcbcbc, 0.5);

$desktop-breakpoint: 980px;
$tablet-breakpoint: 768px;
$phone-breakpont: 320px;

$height-breakpoint: 319px;

.error-modal {
	display: block;
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: red;
	font-size: 42px;
}

.container {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.grid-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(8, calc(96% / 8));
	grid-template-rows: repeat(6, calc(96% / 6));
	gap: 5px 5px;
	grid-template-areas: "grid-project . . . . . . ." "grid-resume . . . . . . ." "grid-trash . . . . . . ." ". . . . . . . ." ". . . . . . . ." ". . . . . grid-email grid-github grid-linkedin";
	justify-items: center;
	align-items: center;
}

.grid-project {
	grid-area: grid-project;
	svg {
		color: $folder-color;
	}
}

.grid-resume {
	grid-area: grid-resume;
	svg {
		color: $pdf-color;
	}
}

.grid-trash {
	grid-area: grid-trash;
	svg {
		color: $bin-color;
	}
}

.grid-github {
	grid-area: grid-github;
	svg {
		color: $git-color;
	}
}

.grid-linkedin {
	grid-area: grid-linkedin;
	svg {
		color: $linked-color;
	}
}

.grid-email {
	grid-area: grid-email;
	svg {
		color: $mail-color;
	}
}

div {
	.grid-icon {
		transform: scale(0.4);
		padding: 40px;
		text-align: center;
		cursor: pointer;

		&:hover {
			background-color: $icon-hover-color;
			border: $icon-hover-border solid 1px;
		}

		svg {
			margin-bottom: 10px;
		}
		span {
			color: white;
			font-size: 32px;
			white-space: nowrap;
			margin-top: 30px;
		}
	}
}

@media (max-width: $tablet-breakpoint) {
	.grid-container {
		grid-template-columns: repeat(6, calc(94% / 6));
		grid-template-rows: repeat(6, calc(94% / 6));
		grid-template-areas:
			"grid-project . . . . ."
			"grid-resume . . . . ."
			"grid-trash . . . . ."
			". . . . . ."
			". . . . . ."
			". . . grid-email grid-github grid-linkedin";
	}
}

// On phone Portrait
@media (min-width: $phone-breakpont) and (orientation: portrait) {
	.error-modal {
		display: block;
		&:after {
			content: attr(data-portrait);
			display: block;
			position: relative;
		}
	}
}

//On phone landscape
@media (min-width: $phone-breakpont) and (orientation: landscape) {
	.error-modal {
		display: none;
	}
	.grid-container {
		grid-template-columns: repeat(5, calc(96% / 5));
		grid-template-rows: repeat(3, calc(96% / 3));
		grid-template-areas: "grid-project . . . ." "grid-resume . . . ." "grid-trash . grid-email grid-github grid-linkedin";
	}
	div {
		.grid-icon {
			transform: scale(0.3);
		}
	}
}

//On tablet
@media (min-width: $tablet-breakpoint) {
}

// On Desktop
@media (min-width: $desktop-breakpoint) {
	.error-modal {
		display: none;
	}
	.grid-container {
		grid-template-columns: repeat(8, calc(96% / 8));
		grid-template-rows: repeat(6, calc(96% / 6));
		grid-template-areas: "grid-project . . . . . . ." "grid-resume . . . . . . ." "grid-trash . . . . . . ." ". . . . . . . ." ". . . . . . . ." ". . . . . grid-email grid-github grid-linkedin";
	}
	div {
		.grid-icon {
			transform: scale(0.4);
		}
	}
}
// Height Problem
@media (max-height: $height-breakpoint) {
	.error-modal {
		display: block;
		&:after {
			content: attr(data-height);
			display: block;
			position: relative;
		}
	}
}
