.header {
	padding-left: 20px;
	div {
		margin: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
		span {
			margin-right: auto;
		}
		img {
			width: 200px;
			height: 80px;
			object-fit: fill;
		}
	}
}
